/* Setting up margin for each element to zero so we can adjust it later for specific element */
/* Setting up border-box for making easy to deal with size of layout elements*/
* {
  margin: 0;
  box-sizing: border-box;
}

/* Linear gradient is giving progressive transition to all the background-colors at 0.25turn  */
html {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

/* Adding a background image in header */
.mainheader {
  background: url(bannerimage.jpeg) no-repeat center center/cover;
  height: 400px;
}

/* Setting display to flex to easily adjust the location of Tabs in the Navigation Bar  */
.nav-bar {
  display: flex;
}

/* Styling Navigation Tabs */
/* Also Declaring change of properties while hovering with transition */
.nav-item {
  color: black;
  margin: 20px 40px;
  text-decoration: none;
  font-size: 21px;
  font-weight: 150;
  transition: all ease 0.4s;
  position: relative;
  border: none;
  z-index: 1;
}

.nav-item::before,
::after {
  position: absolute;
  content: "";
  z-index: -1;
}
.nav-item:hover {
  background: #ff96ad;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad,
    0 0 200px #ff96ad;
}

/* Styling Cartoonish Image of Web Page Owner*/
/* Also Scaling the size while hovering on Image with transition */
.my-image {
  margin-top: 40px;
  height: 300px;
  clip-path: circle(35.6% at 49% 51%);
  float: right;
  transition: all ease 0.6s;
}

.my-image:hover {
  transform: scale(1.27);
}

/* Adjusting location of introduction/greeting box */
.intro-container {
  margin: 120px 0 0 60px;
}

/* Creating an animation with name into-animation which changes the color of text from transparent to black with a permanent stroke on text */
@keyframes intro-animation {
  from {
    -webkit-text-stroke: 1px black;
    color: transparent;
  }
  to {
    -webkit-text-stroke: 1px black;
    color: black;
  }
}

/* Adjusting font of introduction text and also applying animation to it */
.hi {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  animation: intro-animation 1.5s ease 0s infinite alternate-reverse;
}

/* Styling p tag in main */
p {
  margin: 70px 0 10px 40.8%;
  font-family: "Inclusive Sans", sans-serif;
  font-size: 35px;
  text-decoration: none;
}

/* Dropping social media icons at desired location by adjusting margin */
.social-media-icons {
  margin: 10px 0 0 9%;
}

/* Styling Social Media Icons */
.fa-brands {
  text-decoration: none;
}

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  background-size: auto;
  padding: 10px;
  color: white;
  border-radius: 100%;
  font-size: 45px;
  margin: 0 2% 2% 0;
}

.fa-facebook {
  color: #2a4d7d;
  border-radius: 100%;
  margin: 0 2% 2% 0;
  font-size: 60px;
}

.fa-linkedin {
  color: #0b65c2;
  border-radius: 100%;
  margin: 0 2% 2% 36%;
  font-size: 50px;
}

.fa-brands:hover {
  background: transparent;
  color: black;
  transition: all ease 0.8s;
}
